# pycache
__pycache__/
**.pyc

# raw data
data/

# raw data but keep the metadata
data/2023*

# logs
**.log

# IC logs
2.cellprofiler_ic_processing/notebooks/logs/
2.cellprofiler_ic_processing/scripts/logs/

# pycache
**/__pycache__/

# illumination corrected images
2.cellprofiler_ic_processing/illum_directory

# cellprofiler logs
3.cellprofiler_analysis/scripts/logs
3.cellprofiler_analysis/scripts/*.log
3.cellprofiler_analysis/notebooks/logs
3.cellprofiler_analysis/notebooks/*.logs

# analysis results
3.cellprofiler_analysis/analysis_output

# cytomining results
4.process_features/data/

# scDINO outputs
5.scDINO_analysis/1.scDINO_run/outputdir
# scDINO logs
5.scDINO_analysis/1.scDINO_run/.snakemake
5.scDINO_analysis/1.scDINO_run/logs

# temporal shiny app
5.scDINO_analysis/2.scDINO_processing/temporal_shiny_app
5.scDINO_analysis/2.scDINO_processing/notebooks/4.deploy_shiny_app.ipynb
5.scDINO_analysis/2.scDINO_processing/scripts/4.deploy_shiny_app.r
5.scDINO_analysis/2.scDINO_processing/temporal_shiny_app/rsconnect

# data
data/models/dino_deitsmall16_pretrain_full_checkpoint.pth
data/processed_images/**

# cytomining logs
**runinfo
